.ztree li a {
    height: 18px;
    cursor: pointer;
    border: solid 0px;
    border-radius: 7px;
    background-color: rgba(251, 252, 253, 0.89);
}
.ztree li{
    margin-top: 5px;
    margin-left: 10px;
}
.ztree li a.curSelectedNode {
    background-color: rgba(106, 159, 194, 0.945);
}
.treed{
    float: left;
    margin-left: 5%;
    margin-top: 6.5%;
}
.onetree{
    float: left;
    margin-left: 25%;
    margin-top: 6.5%;
}
.twotree{
    float: left;
    margin-left: 20%;
    margin-top: 6.5%;
}
.threetree{
    float: left;
    margin-left: 10%;
    margin-top: 6.5%;
}
#regionZTree{
    height: 490px;
}
#kuang{
    position: fixed;
    top:-10px;
    left: 0%;
    width: 100%;
    height: 110%;
    opacity: 1;
    border:1px solid rgb(253, 252, 252);
    box-shadow:5px 5px 5px rgb(156, 155, 155);
    z-index: -2;
    background:url(wenli.jpg);
    background-size: cover;
}
#texts{
    padding: 20px;
    border-radius: 20px;
    position: fixed;
    width: 16.4%;
    height: 72%;
    top: 4%;
    right: 2.5%;
    font-size: 13px;
}
#butt{
    position: fixed;
    width: 19%;
    height: 7%;
    bottom: 6.5%;
    right: 2.6%;
    font-family: "Matura MT Script Capitals";
    font-size: 20px;
}
#fdj{
    opacity: 0.8;
    width: 3.1%;
    position: fixed;
    left:21%;
    top:2.5%; 
}
#fdj:hover{
    cursor: pointer;
}
#search{
    position: fixed;
    top:2.5%;
    left:5%;
    width: 15%;
    height: 10.3%;
    border-radius: 20px;
    opacity: 0.6;
    background-color: white;
    box-shadow:2px 2px 5px rgb(148, 148, 148);
}
#shuaxin{
    opacity: 0.5;
    width: 2%;
    position: fixed;
    right:3.6%;
    bottom:19%; 
}
#shuaxin:hover{
    cursor: pointer;
}
#stxt{
    border: none;
    font-size: 15px;
    margin-top: 13px;
    margin-left: 10px;
    width: 160px;
}
#result{
    margin-left: 20px;
    font-weight: 700;
}
#an{
    position: fixed;
    top:9.6%;
    left:21.5%;
}
button{
    display: inline-block;
    border:solid 0px;
    outline:none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color:white;
    background-color: rgb(50, 119, 223);
    border-radius: 20px;
    box-shadow:3px 3px 2px rgb(179, 178, 178);
}
button:hover{
    color:rgb(223, 156, 50);
    background-color:white;
}
textarea{
    /* background:transparent; */
    opacity: 0.5;
    border:1px solid lightgray;
    box-shadow:5px 5px 5px rgb(148, 148, 148);
    z-index: -2;
}
body{
    color: #000;
    background-color:rgb(252, 237, 190);
    background-size: 100%;
}